.DS_Store
.netrwhist
.tex-server

home/.gnupg/*
home/.password-store/*

home/.vim/swap/*
home/.vim/undodir/*
home/.ssh/*

home/.local/bin-sources/confucius-analects
home/.local/bin-sources/mencius-analects
home/.local/bin-sources/laozi-analects

home/.config/zsh/.zcompdump
home/.config/zsh/.zcompcache
home/.config/zsh/.zsh_history
home/.config/zsh/.zsh_sessions/*
home/.config/zsh/zsh_history
home/.config/zsh/zsh_sessions/*

home/.config/bash/.bash_history
home/.config/python/.python_history

home/.config/nvim/undodir/*
home/.config/nvim/spell/*.spl

home/.config/b2/file-with-key-id.txt
home/.config/b2/file-with-key.txt
home/.config/b2/.b2_account_info

.github-recovery-codes.txt.enc
.github-token

others/lasciate.txt.enc
others/oignon.txt.enc

*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
*.dvi
*.xdv
*-converted-to.*
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync
*.snm
*.nav
