.DS_Store

zsh/.zsh_history
zsh/zsh_history
zsh/.zsh_sessions/*
zsh/zsh_sessions/*
zsh/.zcompdump
zsh/.zcompcache

bash/.bash_history

.vim/swap/*
.vim/undodir/*

b2/file-with-key-id.txt
b2/file-with-key.txt
b2/.b2_account_info

.gnupg/*
.password-store/*
.github-recovery-codes.txt

nvim/undodir/*
nvim/spell/*.spl

.fzf.bash
.fzf.zsh
.ssh/*

*/.netrwhist
