.DS_Store
zsh/.zsh_history
zsh/zsh_history
zsh/.zsh_sessions/*
zsh/zsh_sessions/*
bash/.bash_history
.vim/swap/*
.vim/undodir/*
b2/file-with-key-id.txt
b2/file-with-key.txt
.gnupg/*
.password-store/*
nvim/undodir/*
nvim/spell/*.spl
.fzf.bash
.fzf.zsh
