/* Descrption: Minimal CSS for Markdown Generated Website.
 * Author: Jesse C. Chen (jessekelighine.com)
 * */

.title {
	font-size: 30px;
	width: 100%;
	padding-bottom: 10px;
	border-bottom: 1px solid #37352f;
	margin-top: 50px;
}

.author, .date {
	display: table;
	font-family: "Monaco", "Noto Sans CJK KR", monospace;
	background-color: #f1f1f1;
	border-radius: 10px;
}

.subtitle {
	color: rgba(0, 0, 0, 0.6);
	font-weight: 500;
}

.math {
	background-color: #f1f1f1;
	border-radius: 8px;
}

/* TOC */

#TOC ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#TOC > ul > li {
	display: inline;
	background-color: #f9f9f9;
	border: 2px solid #ffffff;
	float: left;
}

#TOC > ul > li a:hover {
	background: #478D99;
	color: #ffffff;
}

#TOC > ul > li a {
	font-size: 14pt;
	display: block;
	padding: 0.3em 0.8em;
	text-decoration: none;
	font-family: "Monaco", "Noto Sans CJK KR", monospace;
}

/* BODY */

em {
	color: #478D99;
	font-style: normal;
}

strong {
	color: #C76669;
	font-weight: 600;
}

a {
	color: rgba(0, 0, 0, 0.6);
	font-weight: 400;
	text-decoration: underline;
	padding:3px;
}

a:hover {
	background: linear-gradient(#eee, #eee);
	background-size: auto 4em;
	background-repeat: no-repeat;
	background-position: 0% 15px;
}

body {
	width: auto;
	line-height: 160%;
	max-width: 40em;
	margin: 0 auto;
	padding: 10px 20px;
	font-family: "Helvetica", "Noto Sans CJK KR", sans-serif;
	font-size: 15pt;
	font-weight: 400;
	color: rgba(0, 0, 0, 0.6);
}

h1 { font-size: 18pt; font-style: normal; font-variant: normal; font-weight: 600; color: #333; }
h2 { font-size: 18pt; font-style: normal; font-variant: normal; font-weight: 600; color: #333; }
h3 { font-size: 16pt; font-style: normal; font-variant: normal; font-weight: 600; color: #333; }
h4 { font-size: 16pt; font-style: normal; font-variant: normal; font-weight: 600; color: #333; }
h5 { font-size: 16pt; font-style: normal; font-variant: normal; font-weight: 600; color: #333; }
h6 { font-size: 16pt; font-style: normal; font-variant: normal; font-weight: 600; color: #333; }

/* CODE */

code {
	font-family: "Monaco", "Noto Sans CJK KR", monospace;
	background-color: #f1f1f1;
	border-radius: 8px;
}

/* QUOTES */

blockquote {
	background: #f9f9f9;
	border-left: 10px solid #ccc;
	margin: 10px 10px;
	padding: 10px 20px;
}

/* TABLE */

table {
	margin: 0 auto;
	padding: 10px;
    border-collapse: collapse;
	font-style: normal;
	color: #444;
}

tr {
    border-bottom: 1px solid #666666;
}

tr:nth-child(even) {
	background-color: #fafafa;
}

td {
	padding: 10px;
}

th {
	text-align: left;
	background-color: #f0f0f0;
	padding: 15px;
	border-top: 2px solid #666666;
	border-bottom: 2px solid #666666;
}
